---

_You are currently looking at **version 1.1** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

In [1]:
from google.colab import drive
drive.mount('/data')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /data

In [2]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

!pip install xlrd

Collecting xlrd
  Downloading https://files.pythonhosted.org/packages/07/e6/e95c4eec6221bfd8528bcc4ea252a850bffcc4be88ebc367e23a1a84b0bb/xlrd-1.1.0-py2.py3-none-any.whl (108kB)
    100% |████████████████████████████████| 112kB 4.2MB/s
Installing collected packages: xlrd
Successfully installed xlrd-1.1.0

# Assignment 4 - Hypothesis Testing
This assignment requires more individual learning than previous assignments - you are encouraged to check out the [pandas documentation](http://pandas.pydata.org/pandas-docs/stable/) to find functions or methods you might not have used yet, or ask questions on [Stack Overflow](http://stackoverflow.com/) and tag them as pandas and python related. And of course, the discussion forums are open for interaction with your peers and the course staff.

Definitions:
* A _quarter_ is a specific three month period, Q1 is January through March, Q2 is April through June, Q3 is July through September, Q4 is October through December.
* A _recession_ is defined as starting with two consecutive quarters of GDP decline, and ending with two consecutive quarters of GDP growth.
* A _recession bottom_ is the quarter within a recession which had the lowest GDP.
* A _university town_ is a city which has a high percentage of university students compared to the total population of the city.

**Hypothesis**: University towns have their mean housing prices less effected by recessions. Run a t-test to compare the ratio of the mean price of houses in university towns the quarter before the recession starts compared to the recession bottom. (`price_ratio=quarter_before_recession/recession_bottom`)

The following data files are available for this assignment:
* From the [Zillow research data site](http://www.zillow.com/research/data/) there is housing data for the United States. In particular the datafile for [all homes at a city level](http://files.zillowstatic.com/research/public/City/City_Zhvi_AllHomes.csv), ```City_Zhvi_AllHomes.csv```, has median home sale prices at a fine grained level.
* From the Wikipedia page on college towns is a list of [university towns in the United States](https://en.wikipedia.org/wiki/List_of_college_towns#College_towns_in_the_United_States) which has been copy and pasted into the file ```university_towns.txt```.
* From Bureau of Economic Analysis, US Department of Commerce, the [GDP over time](http://www.bea.gov/national/index.htm#gdp) of the United States in current dollars (use the chained value in 2009 dollars), in quarterly intervals, in the file ```gdplev.xls```. For this assignment, only look at GDP data from the first quarter of 2000 onward.

Each function in this assignment below is worth 10%, with the exception of ```run_ttest()```, which is worth 50%.

In [0]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 'DC': 'District of Columbia', 'VT': 'Vermont', 'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [186]:
def get_list_of_university_towns():
  df = pd.read_csv('/data/My Drive/university_towns.txt', sep="\n", header=None, names=["university"])
#   df['university'] = df['university'].str.split('[').str[0]
  df['university'] = df['university'].str.split('(').str[0].str.rstrip()
  data = pd.DataFrame([],columns=['State','RegionName'])
  df['compare'] = df['university'].str.contains('[edit]', regex=False)
  df['university'] = df['university'].str.split('[').str[0]
  s =''
  for index, row in df.iterrows():
    if row['compare']:
      s = row['university']
    else:
      df2 = pd.DataFrame([[s, row['university']]], columns=['State','RegionName'])
      data = data.append(df2, ignore_index=True)
  
  return data
get_list_of_university_towns()

             State                    RegionName
0          Alabama                        Auburn
1          Alabama                      Florence
2          Alabama                  Jacksonville
3          Alabama                    Livingston
4          Alabama                    Montevallo
5          Alabama                          Troy
6          Alabama                    Tuscaloosa
7          Alabama                      Tuskegee
8           Alaska                     Fairbanks
9          Arizona                     Flagstaff
10         Arizona                         Tempe
11         Arizona                        Tucson
12        Arkansas                   Arkadelphia
13        Arkansas                        Conway
14        Arkansas                  Fayetteville
15        Arkansas                     Jonesboro
16        Arkansas                      Magnolia
17        Arkansas                    Monticello
18        Arkansas                  Russellville
19        Arkansas                        Searcy
20      California                        Angwin
21      California                        Arcata
22      California                      Berkeley
23      California                         Chico
24      California                     Claremont
25      California                        Cotati
26      California                         Davis
27      California                        Irvine
28      California                    Isla Vista
29      California  University Park, Los Angeles
..             ...                           ...
487       Virginia                          Wise
488       Virginia                    Chesapeake
489     Washington                    Bellingham
490     Washington                        Cheney
491     Washington                    Ellensburg
492     Washington                       Pullman
493     Washington  University District, Seattle
494  West Virginia                        Athens
495  West Virginia                    Buckhannon
496  West Virginia                      Fairmont
497  West Virginia                     Glenville
498  West Virginia                    Huntington
499  West Virginia                    Montgomery
500  West Virginia                    Morgantown
501  West Virginia                 Shepherdstown
502  West Virginia                  West Liberty
503      Wisconsin                      Appleton
504      Wisconsin                    Eau Claire
505      Wisconsin                     Green Bay
506      Wisconsin                     La Crosse
507      Wisconsin                       Madison
508      Wisconsin                     Menomonie
509      Wisconsin                     Milwaukee
510      Wisconsin                       Oshkosh
511      Wisconsin                   Platteville
512      Wisconsin                   River Falls
513      Wisconsin                 Stevens Point
514      Wisconsin                      Waukesha
515      Wisconsin                    Whitewater
516        Wyoming                       Laramie

[517 rows x 2 columns]

In [27]:
def  get_data_gdp():
  gdp = pd.read_excel('/data/My Drive/gdplev.xls', skiprows=range(219))
  gdp.drop(columns=['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 7'], inplace=True)
  gdp.columns = ['time', 'gdp', 'chained2009']
  return gdp
get_data_gdp()

      time      gdp  chained2009
0   2000q1  10031.0      12359.1
1   2000q2  10278.3      12592.5
2   2000q3  10357.4      12607.7
3   2000q4  10472.3      12679.3
4   2001q1  10508.1      12643.3
5   2001q2  10638.4      12710.3
6   2001q3  10639.5      12670.1
7   2001q4  10701.3      12705.3
8   2002q1  10834.4      12822.3
9   2002q2  10934.8      12893.0
10  2002q3  11037.1      12955.8
11  2002q4  11103.8      12964.0
12  2003q1  11230.1      13031.2
13  2003q2  11370.7      13152.1
14  2003q3  11625.1      13372.4
15  2003q4  11816.8      13528.7
16  2004q1  11988.4      13606.5
17  2004q2  12181.4      13706.2
18  2004q3  12367.7      13830.8
19  2004q4  12562.2      13950.4
20  2005q1  12813.7      14099.1
21  2005q2  12974.1      14172.7
22  2005q3  13205.4      14291.8
23  2005q4  13381.6      14373.4
24  2006q1  13648.9      14546.1
25  2006q2  13799.8      14589.6
26  2006q3  13908.5      14602.6
27  2006q4  14066.4      14716.9
28  2007q1  14233.2      14726.0
29  2007q2  14422.3      14838.7
..     ...      ...          ...
36  2009q1  14383.9      14375.0
37  2009q2  14340.4      14355.6
38  2009q3  14384.1      14402.5
39  2009q4  14566.5      14541.9
40  2010q1  14681.1      14604.8
41  2010q2  14888.6      14745.9
42  2010q3  15057.7      14845.5
43  2010q4  15230.2      14939.0
44  2011q1  15238.4      14881.3
45  2011q2  15460.9      14989.6
46  2011q3  15587.1      15021.1
47  2011q4  15785.3      15190.3
48  2012q1  15973.9      15291.0
49  2012q2  16121.9      15362.4
50  2012q3  16227.9      15380.8
51  2012q4  16297.3      15384.3
52  2013q1  16475.4      15491.9
53  2013q2  16541.4      15521.6
54  2013q3  16749.3      15641.3
55  2013q4  16999.9      15793.9
56  2014q1  17025.2      15747.0
57  2014q2  17285.6      15900.8
58  2014q3  17569.4      16094.5
59  2014q4  17692.2      16186.7
60  2015q1  17783.6      16269.0
61  2015q2  17998.3      16374.2
62  2015q3  18141.9      16454.9
63  2015q4  18222.8      16490.7
64  2016q1  18281.6      16525.0
65  2016q2  18450.1      16583.1

[66 rows x 3 columns]

In [61]:
def get_recession_start():
  gdp = get_data_gdp()
  
  counter = 0
  for i in range(len(gdp)):
    if(counter!=2):
      if(gdp['gdp'][i]> gdp['gdp'][i+1]):
        counter= counter+1
    else:
      break
  return gdp['time'][i]
get_recession_start()

'2008q4'

In [62]:
def get_recession_end():
  gdp = get_data_gdp()
  start = get_recession_start()
  start_index = gdp[gdp['time'] == start].index.tolist()[0]
  gdp=gdp.iloc[start_index:]
  counter = 0
  for i in range(len(gdp)):
    if(counter!=2):
        if(gdp.iloc[i][1]< gdp.iloc[i+1][1]):
            counter= counter+1
    else:
        break
  
  return gdp.iloc[i][0]
       
get_recession_end()

'2009q4'

In [63]:
def get_recession_bottom():
  gdp = get_data_gdp()
  
  start = get_recession_start()
  s_index = gdp[gdp.time == start].index[0]
  ends = get_recession_end()
  e_index = gdp[gdp.time == ends].index[0]

  index = s_index
  mins = ""
  while True:
    if gdp.iloc[index+1].gdp < gdp.iloc[index].gdp:
      mins = gdp.iloc[index+1].time
      mins2 = index + 1
    else:
      pass
      index += 1
      if index >= e_index: break

    return mins
get_recession_bottom()

'2009q1'

In [84]:
def convert_housing_data_to_quarters():
  house = pd.read_csv("/data/My Drive/City_Zhvi_AllHomes.csv")
  ihouse = house.loc[:,"2000-01":"2016-08"]
  ihouse.columns = pd.to_datetime(ihouse.columns).to_period(freq="M")
  ghouse = ihouse.groupby(ihouse.columns.asfreq("q"),axis=1).sum()
  house = (pd.merge(house.loc[:,"RegionID":"SizeRank"],ghouse,left_index=True,right_index=True,how="inner")
  .set_index(["State","RegionName"]).iloc[:,4:71])
  return house
convert_housing_data_to_quarters()

,,2000Q1,2000Q2,2000Q3,2000Q4,2001Q1,2001Q2,2001Q3,2001Q4,2002Q1,2002Q2,...,2014Q2,2014Q3,2014Q4,2015Q1,2015Q2,2015Q3,2015Q4,2016Q1,2016Q2,2016Q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
NY,New York,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1546400.0,1568400.0,1584200.0,1596800.0,1622400.0,1671600.0,1718500.0,1748600.0,1774900.0,1174400.0
CA,Los Angeles,621200.0,643400.0,662900.0,678500.0,699000.0,717300.0,735200.0,759100.0,785900.0,818100.0,...,1494100.0,1527200.0,1556600.0,1586400.0,1614500.0,1641800.0,1673200.0,1698100.0,1732400.0,1168100.0
IL,Chicago,415200.0,430900.0,443600.0,456400.0,470800.0,485400.0,499200.0,511300.0,526500.0,532700.0,...,577900.0,587300.0,603800.0,603200.0,618100.0,624900.0,623700.0,618200.0,624600.0,424000.0
PA,Philadelphia,159000.0,160900.0,162400.0,164100.0,166000.0,166600.0,168800.0,172600.0,177400.0,182200.0,...,341200.0,345900.0,347000.0,348600.0,353900.0,363700.0,366600.0,370300.0,380800.0,257400.0
AZ,Phoenix,335500.0,343100.0,348000.0,352200.0,358800.0,364700.0,368100.0,372900.0,379600.0,385100.0,...,492800.0,496100.0,505500.0,514600.0,522500.0,537200.0,551500.0,563700.0,574300.0,390400.0
NV,Las Vegas,397800.0,403100.0,406200.0,411000.0,418600.0,425200.0,430100.0,438400.0,448000.0,452800.0,...,510200.0,520200.0,526400.0,532500.0,544800.0,560300.0,571900.0,583800.0,591600.0,399900.0
CA,San Diego,668700.0,703100.0,736300.0,768100.0,801600.0,828800.0,853500.0,875800.0,903700.0,938600.0,...,1440600.0,1467100.0,1489300.0,1510100.0,1536200.0,1559300.0,1576400.0,1588000.0,1608700.0,1079500.0
TX,Dallas,253400.0,251600.0,254600.0,263500.0,269200.0,267900.0,267200.0,272700.0,277700.0,281400.0,...,319900.0,326700.0,334600.0,341100.0,363400.0,385700.0,403800.0,421500.0,433800.0,298600.0
CA,San Jose,1122800.0,1219700.0,1295600.0,1366500.0,1412000.0,1410600.0,1370400.0,1336700.0,1324300.0,1373300.0,...,2038200.0,2091100.0,2144800.0,2194300.0,2270200.0,2329200.0,2367400.0,2410800.0,2456800.0,1644400.0
FL,Jacksonville,265800.0,269100.0,275100.0,279300.0,283200.0,286800.0,291200.0,297200.0,303700.0,310300.0,...,362300.0,365200.0,369500.0,372500.0,380700.0,390400.0,396000.0,401900.0,411600.0,279800.0
CA,San Francisco,1291500.0,1393400.0,1450600.0,1479000.0,1482200.0,1488400.0,1512300.0,1540200.0,1561300.0,1614500.0,...,2780800.0,2863600.0,2906300.0,3002200.0,3182400.0,3285300.0,3316400.0,3365300.0,3357800.0,2212800.0
TX,Austin,428900.0,435800.0,448400.0,467200.0,483700.0,482200.0,478600.0,480100.0,476900.0,472500.0,...,746600.0,758400.0,774400.0,799500.0,825100.0,844900.0,861700.0,880500.0,904300.0,608900.0
MI,Detroit,198500.0,204900.0,200300.0,201100.0,202500.0,205100.0,207800.0,209900.0,213000.0,217000.0,...,111900.0,111300.0,111400.0,108600.0,107500.0,111200.0,115100.0,113900.0,112400.0,75800.0
OH,Columbus,283100.0,287500.0,291400.0,294800.0,298200.0,300800.0,303200.0,306600.0,310200.0,314400.0,...,309400.0,313500.0,319300.0,323600.0,328300.0,334700.0,345000.0,350100.0,354600.0,240200.0
TN,Memphis,217500.0,219600.0,221600.0,222000.0,222500.0,224800.0,226500.0,228200.0,229000.0,230300.0,...,204300.0,207300.0,213500.0,211600.0,206100.0,206000.0,208600.0,212700.0,222500.0,151800.0
NC,Charlotte,380800.0,385100.0,390600.0,394700.0,398800.0,399600.0,398400.0,399300.0,403100.0,406100.0,...,448400.0,451900.0,458200.0,465500.0,473700.0,480500.0,488600.0,499400.0,508300.0,344800.0
TX,El Paso,228800.0,230600.0,230200.0,231900.0,234700.0,234900.0,232300.0,230400.0,229800.0,229200.0,...,335400.0,335200.0,335300.0,334500.0,333900.0,333200.0,330800.0,332000.0,334400.0,224400.0
MA,Boston,620800.0,657500.0,699300.0,727500.0,748800.0,771200.0,800800.0,824900.0,847500.0,867900.0,...,1280000.0,1294300.0,1322200.0,1345500.0,1366100.0,1391900.0,1414900.0,1447800.0,1471100.0,1003400.0
WA,Seattle,745800.0,766800.0,787600.0,802200.0,813000.0,817300.0,822500.0,834500.0,841500.0,853800.0,...,1325400.0,1354500.0,1377500.0,1403800.0,1480100.0,1542800.0,1600400.0,1655200.0,1726600.0,1179400.0
MD,Baltimore,179000.0,178500.0,176500.0,178500.0,178700.0,180400.0,186300.0,190200.0,191000.0,194700.0,...,327700.0,328600.0,322100.0,324200.0,334300.0,341900.0,341700.0,344000.0,344200.0,230300.0
CO,Denver,486700.0,503500.0,523000.0,541000.0,559500.0,577600.0,589200.0,597300.0,603700.0,607300.0,...,812600.0,832500.0,861700.0,892900.0,931100.0,961500.0,990300.0,1006700.0,1028300.0,703100.0
DC,Washington,413300.0,432600.0,446100.0,443100.0,449300.0,465400.0,493900.0,517600.0,541500.0,579900.0,...,1340800.0,1359000.0,1380900.0,1398500.0,1443200.0,1480200.0,1502700.0,1512300.0,1517400.0,1032500.0
TN,Nashville,341500.0,345800.0,347600.0,350800.0,354100.0,357500.0,360300.0,362400.0,364700.0,367900.0,...,482100.0,486900.0,500700.0,514400.0,528800.0,545400.0,567600.0,585200.0,601100.0,412200.0
WI,Milwaukee,234100.0,237200.0,243100.0,247000.0,252100.0,256700.0,261200.0,265200.0,268600.0,274100.0,...,276500.0,276500.0,275900.0,280000.0,282300.0,282400.0,283700.0,284000.0,289100.0,197700.0
AZ,Tucson,305500.0,308900.0,313400.0,317000.0,321600.0,326300.0,331700.0,338400.0,345000.0,351600.0,...,427400.0,430300.0,432700.0,432500.0,435400.0,439800.0,444500.0,448600.0,453500.0,305400.0
OR,Portland,458400.0,464300.0,469700.0,472400.0,479700.0,485400.0,492800.0,503300.0,512300.0,522400.0,...,846700.0,861800.0,886600.0,905800.0,935700.0,977200.0,1029200.0,1068000.0,1109400.0,774100.0
OK,Oklahoma City,229300.0,232500.0,235700.0,237500.0,239500.0,241200.0,243400.0,245200.0,247800.0,250300.0,...,354100.0,356900.0,360300.0,362400.0,367100.0,374100.0,381300.0,383700.0,387900.0,260600.0
NE,Omaha,338400.0,342300.0,350200.0,356700.0,362600.0,359300.0,353600.0,352200.0,354200.0,352900.0,...,390300.0,390900.0,397500.0,399200.0,403400.0,410200.0,420200.0,424900.0,428000.0,286900.0
NM,Albuquerque,377600.0,380100.0,379300.0,380200.0,381300.0,383200.0,385700.0,389700.0,393200.0,396300.0,...,489800.0,492000.0,494400.0,495500.0,497700.0,499600.0,502000.0,507300.0,511900.0,343800.0
CA,Fresno,282300.0,285800.0,289400.0,294700.0,301700.0,310700.0,321700.0,330900.0,342100.0,355600.0,...,508900.0,520800.0,534400.0,541400.0,546100.0,557100.0,562400.0,567100.0,578200.0,392900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TX,Granite Shoals,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,350900.0,352600.0,352600.0,351500.0,357300.0,364800.0,384000.0,401300.0,420200.0,292900.0
MD,Piney Point,467000.0,465500.0,475400.0,491100.0,490200.0,494500.0,494100.0,503700.0,534800.0,543600.0,...,889200.0,927000.0,927700.0,928700.0,905100.0,915700.0,929900.0,958500.0,972500.0,649200.0
WI,Maribel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,391800.0,386900.0,388900.0,393800.0,390400.0,389200.0,387900.0,383500.0,387800.0,268400.0
ID,Middleton,318200.0,313000.0,305700.0,312500.0,318500.0,325100.0,333100.0,333700.0,342300.0,342500.0,...,433100.0,437100.0,438700.0,438500.0,443200.0,444600.0,453400.0,461700.0,471500.0,321500.0
CO,Bennett,398700.0,407500.0,419400.0,434000.0,444900.0,456300.0,462700.0,468600.0,476200.0,481900.0,...,454400.0,486200.0,514200.0,534100.0,553300.0,575000.0,587400.0,599300.0,622400.0,425200.0
NH,East Hampstead,485500.0,507300.0,521900.0,541500.0,572700.0,585200.0,597800.0,622200.0,636900.0,636700.0,...,748500.0,756300.0,767200.0,776200.0,784100.0,784800.0,806400.0,817600.0,833400.0,564900.0
MO,Garden City,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,316500.0,312900.0,314300.0,318100.0,288200.0,297900.0,310300.0,318800.0,335000.0,227200.0
AR,Mountainburg,171500.0,193000.0,203500.0,207000.0,206000.0,191600.0,191300.0,196400.0,196000.0,198000.0,...,244800.0,255200.0,265400.0,267100.0,256700.0,251100.0,271300.0,295000.0,305700.0,206800.0
WI,Oostburg,321800.0,324300.0,337300.0,346500.0,357300.0,361300.0,361100.0,358900.0,359600.0,355700.0,...,388700.0,383800.0,382300.0,381200.0,382200.0,391000.0,396100.0,398300.0,402300.0,272700.0
CA,Twin Peaks,292100.0,300500.0,304000.0,305100.0,312000.0,323000.0,329500.0,333400.0,339600.0,349800.0,...,450300.0,442600.0,438200.0,430500.0,456900.0,465800.0,477500.0,492500.0,503900.0,347000.0
NY,Upper Brookville,3692900.0,3692900.0,3713100.0,3784700.0,3885500.0,4020100.0,4211000.0,4445800.0,4608500.0,4686100.0,...,5341900.0,5247700.0,5188400.0,5249600.0,5368800.0,5331800.0,5503100.0,5713500.0,5832200.0,3937600.0
HI,Volcano,296100.0,316100.0,344000.0,374300.0,354400.0,358200.0,369800.0,363500.0,369900.0,350700.0,...,619400.0,682900.0,699600.0,703900.0,697100.0,674900.0,697300.0,726200.0,746900.0,495700.0
SC,Wedgefield,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,223100.0,210800.0,216200.0,227100.0,216200.0,211000.0,207100.0,206600.0,222800.0,161400.0
MI,Williamston,477500.0,483900.0,492900.0,498600.0,499300.0,505900.0,515000.0,525100.0,536000.0,538000.0,...,497100.0,506800.0,512600.0,523300.0,527600.0,538400.0,546900.0,544400.0,547200.0,366000.0
AR,Decatur,190800.0,193200.0,197000.0,200200.0,201600.0,203100.0,199500.0,196200.0,193800.0,194700.0,...,269000.0,277700.0,284100.0,280500.0,284700.0,286300.0,291000.0,289500.0,289900.0,193700.0
TN,Briceville,120000.0,125200.0,131000.0,134700.0,134400.0,135900.0,133900.0,131100.0,133400.0,130200.0,...,168700.0,162700.0,157800.0,148900.0,137700.0,143800.0,130800.0,122400.0,125400.0,81700.0
IN,Edgewood,275100.0,275600.0,278800.0,284700.0,296800.0,300200.0,302500.0,303000.0,306500.0,305300.0,...,276400.0,282200.0,284000.0,287600.0,283000.0,289900.0,299900.0,298300.0,299900.0,201900.0
TN,Palmyra,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,368300.0,380800.0,378700.0,366900.0,361400.0,359400.0,377400.0,383000.0,398600.0,275500.0
MD,Saint Inigoes,444200.0,442800.0,471700.0,490100.0,492700.0,504600.0,499500.0,496000.0,501900.0,506400.0,...,846700.0,865300.0,860900.0,854100.0,842300.0,833500.0,830500.0,838000.0,847900.0,562800.0
IN,Marysville,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,349800.0,345300.0,349500.0,335600.0,335400.0,347000.0,360500.0,384700.0,369700.0,248400.0
CA,Forest Falls,340600.0,343200.0,342500.0,333400.0,340300.0,339000.0,339100.0,345500.0,356100.0,375200.0,...,496100.0,502500.0,531300.0,529600.0,545400.0,573500.0,596200.0,565900.0,569600.0,373300.0
MO,Bois D Arc,323400.0,320900.0,321300.0,324300.0,332100.0,341000.0,337900.0,338200.0,339200.0,346200.0,...,412700.0,412700.0,421200.0,435100.0,442700.0,438900.0,448300.0,440600.0,431300.0,288000.0
VA,Henrico,385700.0,392300.0,396800.0,399800.0,405700.0,410200.0,415800.0,424000.0,430600.0,438400.0,...,604900.0,612000.0,617700.0,619700.0,631300.0,636300.0,641900.0,648100.0,648600.0,440300.0
NJ,Diamond Beach,521900.0,549300.0,566900.0,579400.0,583200.0,630800.0,690800.0,746000.0,779800.0,796900.0,...,1145400.0,1163600.0,1163000.0,1179500.0,1194000.0,1197700.0,1201300.0,1213600.0,1211700.0,798000.0
TN,Gruetli Laager,106200.0,106400.0,110000.0,111900.0,113200.0,113700.0,118100.0,121200.0,124700.0,124900.0,...,166700.0,169100.0,171400.0,176700.0,196100.0,208500.0,215100.0,226000.0,229400.0,155000.0
WI,Town of Wrightstown,305300.0,316200.0,334100.0,344600.0,377900.0,389700.0,389700.0,388300.0,395700.0,402600.0,...,434600.0,440600.0,447700.0,446000.0,448000.0,449600.0,449800.0,449500.0,453800.0,310000.0
NY,Urbana,237600.0,245000.0,275100.0,295100.0,284600.0,295600.0,308900.0,294100.0,281900.0,283800.0,...,396400.0,411100.0,420200.0,425100.0,413600.0,409400.0,408500.0,416900.0,432600.0,286000.0
WI,New Denmark,343700.0,357800.0,378200.0,395900.0,431400.0,440900.0,445100.0,447500.0,459400.0,470200.0,...,523700.0,543500.0,558500.0,562800.0,566000.0,565300.0,566800.0,573200.0,578500.0,395200.0
CA,Angels,453000.0,467700.0,474300.0,502400.0,530500.0,551300.0,570700.0,553700.0,552100.0,558400.0,...,733400.0,762200.0,779800.0,780300.0,751900.0,790500.0,838500.0,829600.0,814800.0,539900.0
WI,Holland,453100.0,451500.0,459700.0,467500.0,485600.0,497200.0,504100.0,502200.0,497300.0,485900.0,...,603800.0,604700.0,603800.0,618000.0,622800.0,638600.0,653500.0,665900.0,684100.0,469900.0

In [193]:
def run_ttest():
  data_quarters = convert_housing_data_to_quarters()
  data_quarters.columns = data_quarters.columns.astype(str).str.lower()
  data_quarters.reset_index()
  start = get_recession_start()
  bottom = get_recession_bottom()
  quarters = data_quarters.columns
  start_idx = list(quarters).index(start)
  before = quarters[:start_idx][-1]
  new_data = data_quarters.loc[:, [before, bottom]].reset_index()
  new_data = new_data.assign(price_ratio = new_data[before] / new_data[bottom])
  
  uni_town = get_list_of_university_towns()['RegionName'].values
  uni_town = set(uni_town)
  
  new_data = new_data.assign(is_university_town = [True if x in uni_town else False for x in new_data['RegionName'].values])
  
  university_towns = new_data[new_data['is_university_town'] == True]['price_ratio'].values
  non_university_towns = new_data[new_data['is_university_town'] == False]['price_ratio'].values
  

  ttest_res = ttest_ind(university_towns, non_university_towns, nan_policy='omit')
  reject_null_hypothesis = None
  lower_mean_price_ratio = None
  if ttest_res[1] < 0.01:
    reject_null_hypothesis = True
  else:
    reject_null_hypothesis = False
  if ttest_res[0] < 0:
    lower_mean_price_ratio = "university town"
  else:
    lower_mean_price_ratio = "non-university town"
  return reject_null_hypothesis, ttest_res[1], lower_mean_price_ratio



run_ttest()

(True, 0.0008981682297064972, 'university town')